<app-layout name="">
  <section >
    <div class="card card-stepper" style="border-radius: 16px;">
      <div class="card-header p-4">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <p class="text-muted mb-0"> Ngày Đặt: <span class="fw-bold text-body">{{orderDate}}</span> </p>
          </div>
          <div>
            <h6 class="mb-0"> <a class="btn btn-warning" ng-click="isCollapsed = !isCollapsed">Chi Tiết</a> </h6>
          </div>
        </div>
      </div>
  
      <div class="card-body p-4">
        <div class="d-flex flex-row mb-4 pb-2">
          <div class="flex-fill">
            <h5 class="bold">{{orderDetails[0].product.name}}</h5>
            <p class="text-muted"> Qt: {{orderDetails.length}} item</p>
            <h4 class="mb-3"> $ {{viewOrder.amount}} <span class="small text-muted"> via (COD) </span></h4>
            <p class="text-muted">Trạng Thái Đơn Hàng: <span class="text-body">{{ viewOrder.status === 0 ? 'Chờ Xác Nhận' : viewOrder.status === 1 ? 'Đang Giao Hàng' : 'Giao Thành Công' }}
            </span></p>
          </div>
          <div>
            <img class="align-self-center img-fluid"
              src="{{orderDetails[0].product.urlimage}}" width="250" style="max-height: 250px; object-fit: contain;">
          </div>
        </div>
        <ul id="progressbar-1" class="mx-0 mt-0 mb-5 px-0 pt-0 pb-4">
          <li class="step0" ng-class="{'active': viewOrder.status >= 0}" id="step1">
              <span>PLACED</span>
          </li>
          <li class="step0" ng-class="{'active': viewOrder.status >= 1}" id="step2">
              <span>SHIPPED</span>
          </li>
          <li class="step0" ng-class="{'active': viewOrder.status >= 2}" id="step3">
              <span>DELIVERED</span>
          </li>
      </ul>
      
      </div>
          <!-- Collapsible content -->
  <div ng-class="{'collapse show': !isCollapsed, 'collapse': isCollapsed}" id="collapseExample">
    <div class="card card-body">
      <table id="datatable-accounts" class="table table-bordered dt-responsive nowrap w-100">

        <thead>
            <tr>
                <th style="width: 50px;">Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in orderDetails">
            <td><img src="{{item.product.urlimage}}" alt="Product Image" width="50" style="max-height: 50px; object-fit: contain;"></td>
            <td>{{item.product.name}}</td>
            <td>{{item.amount}}</td>
            <td>$ {{item.product.price}}</td>
            <td><b>$ {{item.amount*item.product.price}}</b></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
    </div>



  
    <div class="row">
      <div class="col-12">
          <div class="card">
              <h5 class="card-header bg-transparent border-bottom text-uppercase">
                  LỊCH SỬ ĐẶT HÀNG
              </h5>
              <div class="card-body">
                  <input class="form-control mb-3" type="search" placeholder="Tìm kiếm"
                      ng-model="searchTerm" id="search-datatable-accounts">
                  <table id="datatable-accounts" class="table table-bordered dt-responsive nowrap w-100">
                      <thead>
                          <tr>
                              <th>STT</th>
                              <th>Mã Đặt Hàng</th>
                              <th>Tổng Tiền</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in orders | filter:searchTerm">
                              <td style="width: 45px;">{{$index + 1}}</td>
                              <td>{{item.code}}</td>
                              <td><b>$ {{item.amount}}</b></td>
                              <td style="width: 65px;">
                                  <button ng-click="viewSingleOrder(item)" type="button" class="btn btn-success">Xem <i class="bi bi-eye-fill"></i></button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  
  </section>
</app-layout>
