<app-layout name="">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom text-uppercase">
                    TẠO MỚI THUỘC TÍNH
                </h5>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="password" class="form-label">Tên thuộc tính</label>
                                    <div class="input-group">
                                        <input ng-model="cate.name" type="text" class="form-control" id="username">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button ng-click="create()" class="btn btn-success w-md waves-effect waves-light">Tạo
                                mới</button>
                            <button ng-click="update()" class="btn btn-warning w-md waves-effect waves-light">Cập
                                nhật</button>
                        </div>
                    </form>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom text-uppercase">
                    DANH SÁCH THUỘC TÍNH
                </h5>
                <div class="card-body">

                    <input class="form-control mb-3" type="search" placeholder="Tìm kiếm" ng-model="searchTerm"
                        id="search-datatable-accounts">
                    <table id="datatable-accounts" class="table table-bordered dt-responsive nowrap w-100">

                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên thuộc tính</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in attributes | filter:searchTerm">
                                <td>{{$index + 1}}</td>

                                <!-- Thụt vào theo cấp độ -->
                                <td>
                                    <span>
                                        {{item.name}}
                                    </span>
                                </td>

                                <td>
                                    <button class="btn btn-warning" ng-click="views(item)">Sửa</button>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</app-layout>