<head>
  <link rel="stylesheet" href="/assets/css/dashboard/swiper.css">
  <link rel="stylesheet" href="/assets/css/dashboard/bootstrap5.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard/vendor.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/dashboard/style.css">
  <style>
    .main-menu {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .main-menu .navbar-nav.menu-list {
      width: auto;
      justify-content: center !important;
      text-align: center;
      margin: 0 auto !important;
    }
    .main-menu .navbar-nav.menu-list .nav-item {
      flex: 0 0 auto;
      padding: 0 0.75rem;
    }
    .main-menu .offcanvas-body {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      padding: 0 !important;
    }
    @media (max-width: 991.98px) {
      .main-menu .navbar-nav.menu-list {
        flex-direction: column;
      }
    }
  </style>
</head>

<body>
  <!-- --------- Hiệu ứng load trang ------------ -->

  <!-- <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div> -->
  <!-- --------- Show nhanh rỏ hàng ------------ -->
  <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart" style="width: 900px;">
    <div class="offcanvas-header justify-content-between">
      <h5 class="mb-0">Giỏ hàng</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="card border-0">
        <div class="row g-0">
          <div class="col-lg-8 border-end">
            <div class="p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="fw-bold mb-0">Sản phẩm trong giỏ</h5>
                <span class="badge bg-primary rounded-pill">3 sản phẩm</span>
              </div>
              <div class="list-group list-group-flush">
                <div class="list-group-item px-0 py-3 d-flex align-items-center">
                  <img src="images/product-thumb-1.png" class="rounded-3 me-3" width="64" alt="">
                  <div class="flex-grow-1">
                    <h6 class="mb-1">Growers cider</h6>
                    <small class="text-muted">Mã SP: MS001</small>
                  </div>
                  <span class="fw-semibold">$12</span>
                </div>
                <div class="list-group-item px-0 py-3 d-flex align-items-center">
                  <img src="images/product-thumb-2.png" class="rounded-3 me-3" width="64" alt="">
                  <div class="flex-grow-1">
                    <h6 class="mb-1">Fresh grapes</h6>
                    <small class="text-muted">Mã SP: MS002</small>
                  </div>
                  <span class="fw-semibold">$8</span>
                </div>
                <div class="list-group-item px-0 py-3 d-flex align-items-center">
                  <img src="images/product-thumb-3.png" class="rounded-3 me-3" width="64" alt="">
                  <div class="flex-grow-1">
                    <h6 class="mb-1">Heinz tomato ketchup</h6>
                    <small class="text-muted">Mã SP: MS003</small>
                  </div>
                  <span class="fw-semibold">$5</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 bg-light">
            <div class="p-4">
              <h5 class="fw-bold">Tổng kết</h5>
              <div class="d-flex justify-content-between mt-3">
                <span>Tạm tính</span>
                <span>$25</span>
              </div>
              <div class="d-flex justify-content-between"> 
                <span>Giảm giá</span>
                <span>$5</span>
              </div>
              <hr>
              <div class="d-flex justify-content-between align-items-center">
                <span class="fw-semibold">Tổng cộng</span>
                <span class="fw-bold fs-5 text-primary">$20</span>
              </div>
              <button class="btn btn-primary w-100 mt-4">Thanh toán</button>
              <small class="text-muted d-block mt-2">Phí vận chuyển được tính ở bước tiếp theo.</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- --------- Menu bar ------------ -->
  <header>
    <div class="container-fluid">
      <div class="row py-3 border-bottom">

        <div class="col-sm-4 col-lg-3 text-center text-sm-start">
          <div class="main-logo">
            <a href="index.html">
              <img src="/assets/images/logo-dark.png" alt="logo" class="img-fluid" style="max-height: 50px;">
            </a>
          </div>
        </div>

        <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
          <div class="search-bar row bg-light p-2 my-2 rounded-4">
            <div class="col-md-4 d-none d-md-block">
              <select class="form-select border-0 bg-transparent" ng-model="selectedNavCategory">
                <option value="" selected>Danh mục</option>
                <option ng-repeat="cate in categories" value="{{cate.id}}">
                  {{cate.name}}
                </option>
              </select>
            </div>
            <div class="col-11 col-md-7">
              <form id="search-form" class="text-center" action="index.html" method="post">
                <input type="text" class="form-control border-0 bg-transparent" placeholder="Bạn muốn tìm gì?" />
              </form>
            </div>
            <div class="col-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
              </svg>
            </div>
          </div>
        </div>

        <div
          class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
          <ul class="d-flex justify-content-end list-unstyled m-0">
            <li class="d-lg-none">
              <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#cart"></use>
                </svg>
              </a>
            </li>
            <li class="d-lg-none">
              <a href="#" class="rounded-circle bg-light p-2 mx-1" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasSearch" aria-controls="offcanvasSearch">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="#search"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="cart text-end d-none d-lg-block dropdown">
            <button class="border-0 bg-transparent d-flex flex-column gap-2 lh-1" type="button"
              data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
              <span class="fs-6 text-muted dropdown-toggle">Giỏ Hàng</span>
            </button>
          </div>

          <div class="cart text-end d-none d-lg-block dropdown">
            <div class="dropdown d-inline-block">
              <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-none d-xl-inline-block ms-1" key="t-henry"><i class="bi bi-person-fill"></i>
                  {{nameUser}}</span>
                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end">
                <a ng-if="isLogin" class="dropdown-item text-danger fw-semibold" href="#" ng-click="logout()">
                  <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
                  <span key="t-logout">Logout</span></a>
                <a ng-if="!isLogin" class="dropdown-item text-success fw-semibold" ng-href="/#!/login">
                  <i class="bx bx-power-off font-size-16 align-middle me-1 text-success"></i>
                  <span key="t-logout">Login</span></a>
              </div>
            </div>
          </div>



        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row py-3">
        <div class="d-flex  justify-content-center justify-content-sm-between align-items-center">
          <nav class="main-menu d-flex navbar navbar-expand-lg">

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel">

              <div class="offcanvas-header justify-content-center">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="offcanvas-body d-flex justify-content-center">

                <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0 text-uppercase w-100 justify-content-center text-center"
                  style="justify-content: center !important;">
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Trang chủ</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Sản phẩm</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Giới thiệu</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Tin tức</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Liên hệ</a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Tuyển dụng</a>
                  </li>
                </ul>

              </div>

            </div>
        </div>
      </div>
    </div>
  </header>
  <!-- --------- Menu bar ------------ -->


  <section class="py-3"
    style="background-image: url('images/background-pattern.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <div class="banner-blocks">

            <div class="banner-ad large bg-info block-1">

              <div class="swiper main-swiper">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories my-3">100% natural</div>
                        <h3 class="display-4">Fresh Smoothie & Summer Juice</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                        <a href="#"
                          class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1 px-4 py-3 mt-3">Shop Now</a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="images/product-thumb-1.png" class="img-fluid">
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories mb-3 pb-3">100% natural</div>
                        <h3 class="banner-title">Fresh Smoothie & Summer Juice</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop
                          Collection</a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="images/product-thumb-1.png" class="img-fluid">
                      </div>
                    </div>
                  </div>

                  <div class="swiper-slide">
                    <div class="row banner-content p-5">
                      <div class="content-wrapper col-md-7">
                        <div class="categories mb-3 pb-3">100% natural</div>
                        <h3 class="banner-title">Heinz Tomato Ketchup</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                        <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">Shop
                          Collection</a>
                      </div>
                      <div class="img-wrapper col-md-5">
                        <img src="images/product-thumb-2.png" class="img-fluid">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="swiper-pagination"></div>

              </div>
            </div>

            <div class="banner-ad bg-success-subtle block-2"
              style="background:url('images/ad-image-1.png') no-repeat;background-position: right bottom">
              <div class="row banner-content p-5">

                <div class="content-wrapper col-md-7">
                  <div class="categories sale mb-3 pb-3">20% off</div>
                  <h3 class="banner-title">Fruits & Vegetables</h3>
                  <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24">
                      <use xlink:href="#arrow-right"></use>
                    </svg></a>
                </div>

              </div>
            </div>

            <div class="banner-ad bg-danger block-3"
              style="background:url('images/ad-image-2.png') no-repeat;background-position: right bottom">
              <div class="row banner-content p-5">

                <div class="content-wrapper col-md-7">
                  <div class="categories sale mb-3 pb-3">15% off</div>
                  <h3 class="item-title">Baked Products</h3>
                  <a href="#" class="d-flex align-items-center nav-link">Shop Collection <svg width="24" height="24">
                      <use xlink:href="#arrow-right"></use>
                    </svg></a>
                </div>

              </div>
            </div>

          </div>
          <!-- / Banner Blocks -->

        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">

          <div class="bootstrap-tabs product-tabs">
            <div class="tabs-header d-flex justify-content-between border-bottom my-5">
              <h3>Trending Products</h3>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

                  <div class="col" ng-repeat="item in products | limitTo:10 track by item.id">
                    <div class="product-item h-100">
                      <figure>
                        <a href="javascript:void(0)" title="{{item.name}}">
                          <img ng-src="{{item.urlimage || '/assets/images/placeholder.png'}}" class="tab-image" alt="{{item.name}}">
                        </a>
                      </figure>
                      <h3 class="text-truncate">{{item.name}}</h3>
                      <span class="qty" ng-if="item.category && item.category.name">{{item.category.name}}</span>
                      <span class="price d-block">{{item.price | currency:'₫'}}</span>
                      <div class="d-flex align-items-center justify-content-between mt-2 gap-2">
                        <button type="button" class="btn btn-sm btn-outline-primary flex-grow-1" ng-click="addToCart(item)">
                          Thêm vào giỏ
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#viewProduct" ng-click="viewProduct(item)">
                          Xem
                        </button>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


<!-- section coppy từ bên ngoài -->
<section class="about-spotlight py-5">
  <div class="container-fluid">
    <div class="row align-items-center">

      <!-- Text block -->
      <div class="col-lg-8">
        <h2 class="fw-bold mb-3">Spotlight</h2>
        <h4 class="fw-semibold text-primary mb-3">DỊCH TẢ LỢN CHÂU PHI: PHÁT HIỆN VÀ CHẨN ĐOÁN</h4>
        <p>
          Dịch tả lợn châu Phi (ASF – African Swine Fever) là một bệnh truyền nhiễm do virus gây ra, ảnh hưởng đến lợn ở
          mọi lứa tuổi và gây sốt xuất huyết. Bệnh có thể biểu hiện ở nhiều thể khác nhau, từ thể quá cấp, cấp tính, bán
          cấp, mạn tính cho đến thể không điển hình.
          Thể cấp tính thường dễ nhận biết nhất, với tỷ lệ chết có thể lên tới 100%. Lợn nhà và lợn rừng có thể bị nhiễm
          bệnh qua nhiều con đường khác nhau.
        </p>
        <p>
          Châu Âu chiếm 67% số ổ dịch được báo cáo thông qua thông báo khẩn và báo cáo theo dõi (theo dữ liệu của OIE
          giai đoạn 2016–2020). Tuy nhiên, khu vực chịu thiệt hại nặng nề nhất về số lượng động vật bị mất là châu Á
          (6.733.791 con lợn bị tiêu hủy), chiếm 82% tổng số lợn bị mất trên toàn cầu. Sự khác biệt đáng kể giữa các khu
          vực được ghi nhận ở cấp độ khu vực: các nước châu Phi ghi nhận dịch chủ yếu ở lợn nhà; châu Á chủ yếu ở lợn
          nhà; còn châu Âu chủ yếu ở lợn rừng. Những dữ liệu này phản ánh sự khác biệt rõ rệt về tình hình dịch tễ học
          giữa các khu vực. Hiện chưa có thuốc điều trị hoặc vắc xin phòng bệnh này.
        </p>
        <p>
          Vì hiện chưa có vắc xin chống lại ASF, việc chẩn đoán chính xác là yếu tố then chốt. Phương pháp chẩn đoán
          thích hợp bao gồm phát hiện và định danh các kháng nguyên đặc hiệu của virus ASFV hoặc DNA
          và kháng thể nhằm thu thập thông tin cần thiết phục vụ cho công tác kiểm soát và chương trình tiêu
          diệt mầm bệnh.
        </p>
        <a href="https://baesan.vn/san-pham/kit-test-nhanh-phat-hien-khang-nguyen-asfv-dich-ta-lon-chau-phi/"
          class="btn btn-primary rounded-pill px-4 py-2 mt-2 fw-semibold">Tìm Hiểu Thêm</a>
      </div>

      <!-- Image block -->
      <div class="col-lg-4 text-center">
        <img src="https://baesan.vn/wp-content/uploads/2025/11/pic1.jpg" alt="ASF Transmission Diagram"
          class="img-fluid rounded-3 shadow-sm">
        <p class="small text-muted mt-2 fst-italic">Nguồn: FAO, 2017</p>
      </div>

    </div>
  </div>
</section>

  <section class="py-5">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6">
          <div class="banner-ad bg-danger mb-3"
            style="background: url('images/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
            <div class="banner-content p-5">

              <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
              <h3 class="banner-title">Luxa Dark Chocolate</h3>
              <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
              <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

            </div>

          </div>
        </div>
        <div class="col-md-6">
          <div class="banner-ad bg-info"
            style="background: url('images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
            <div class="banner-content p-5">

              <div class="categories text-primary fs-3 fw-bold">Upto 25% Off</div>
              <h3 class="banner-title">Creamy Muffins</h3>
              <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
              <a href="#" class="btn btn-dark text-uppercase">Show Now</a>

            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container-fluid">

      <div class="bg-secondary py-5 my-5 rounded-5"
        style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
        <div class="container my-5">
          <div class="row">
            <div class="col-md-6 p-5">
              <div class="section-header">
                <h2 class="section-title display-4">Get <span class="text-primary">25% Discount</span> on your first
                  purchase</h2>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere
                maecenas. At tellus ut nunc amet vel egestas.</p>
            </div>
            <div class="col-md-6 p-5">
              <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control form-control-lg" name="name" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control form-control-lg" name="email" id="email"
                    placeholder="abc@mail.com">
                </div>
                <div class="form-check form-check-inline mb-3">
                  <label class="form-check-label" for="subscribe">
                    <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                    Subscribe to the newsletter</label>
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-dark btn-lg">Submit</button>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>

    </div>
  </section>

  <footer class="py-5 bg-dark text-light mt-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-4">
          <img src="/assets/images/logo-light.png" alt="logo" class="mb-3" style="height: 48px;">
          <p class="text-white-50">Hệ thống mua sắm thiết bị y tế – cung cấp sản phẩm chính hãng, dịch vụ tư vấn tận tâm và
            giao hàng nhanh chóng.</p>
          <div class="d-flex gap-2">
            <button class="btn btn-outline-light btn-sm"><i class="bi bi-facebook"></i></button>
            <button class="btn btn-outline-light btn-sm"><i class="bi bi-youtube"></i></button>
            <button class="btn btn-outline-light btn-sm"><i class="bi bi-instagram"></i></button>
          </div>
        </div>
        <div class="col-sm-4 col-lg-2">
          <h6 class="text-uppercase fw-bold mb-3 text-light">Thông tin</h6>
          <ul class="list-unstyled small">
            <li><a href="javascript:void(0)" class="text-white-50 text-decoration-none">Giới thiệu</a></li>
            <li><a href="javascript:void(0)" class="text-white-50 text-decoration-none">Tin tức</a></li>
            <li><a href="javascript:void(0)" class="text-white-50 text-decoration-none">Tuyển dụng</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-3">
          <h6 class="text-uppercase fw-bold mb-3 text-light">Hỗ trợ</h6>
          <ul class="list-unstyled small text-white-50">
            <li>Hotline: 1900 1234</li>
            <li>Email: support@medicalshop.vn</li>
            <li>Thời gian: 08:00 - 21:00 (T2 - CN)</li>
          </ul>
        </div>
        <div class="col-sm-4 col-lg-3">
          <h6 class="text-uppercase fw-bold mb-3 text-light">Đăng ký nhận tin</h6>
          <p class="text-white-50 small">Nhận thông tin khuyến mãi và sản phẩm mới mỗi tuần.</p>
          <form class="d-flex gap-2">
            <input type="email" class="form-control form-control-sm" placeholder="Email của bạn">
            <button type="submit" class="btn btn-primary btn-sm">Gửi</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
</body>

</html>
