<app-layout name="">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4">
                            <h4>TẠO SẢN PHẨM</h4>
                        </div>
                    </div>
                    <!-- Form Create room -->
                    <form enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-2 mb-3">
                                <label for="formrow-floor-input" class="form-label">Loại Hàng</label>
                                <select id="formrow-floor-select" class="form-select"
                                    ng-change="setCodeRoom(form.floor.id)">
                                    <option ng-repeat="cate in categories" ng-value="cate.id">{{cate.name}}</option>
                                </select>
                            </div>
                            <!-- <div class="col-md-1 mb-3">
                                <label for="formrow-floor-input" class="form-label" style="color: white;">Tầng</label>
                                <a class="btn btn-outline-primary waves-effect waves-light w-100" data-bs-toggle="modal"
                                    data-bs-target="#viewFloor">
                                    Xem Loại Hàng
                                </a>
                            </div> -->
                            <div class="col-md-2 mb-3">
                                <label for="formrow-roomNumber-input" class="form-label">Tên Sản Phẩm</label>
                                <div class="input-group">
                                    <input ng-model="form.code" type="text" class="form-control"
                                        id="formrow-roomNumber-select" >
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="formrow-roomNumber-input" class="form-label">Giá</label>
                                <div class="input-group">
                                    <input ng-model="form.code" type="text" class="form-control"
                                        id="formrow-roomNumber-select" >
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="formrow-roomNumber-input" class="form-label">Số Lượng</label>
                                <div class="input-group">
                                    <input ng-model="form.code" type="text" class="form-control"
                                        id="formrow-roomNumber-select" >
                                </div>
                            </div>
                            <div class="col-md-2 mb-3 text-sm-center">
                                <label for="formrow-status-input">Trạng thái</label>
                                <div>
                                    <input type="checkbox" id="formrow-status-input" switch="bool"
                                        ng-model="form.status" />
                                    <label for="formrow-status-input" data-on-label="On" data-off-label="Off"></label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="formrow-roomNumber-input" class="form-label">Urlimage   </label>
                                <div class="input-group">
                                    <input ng-model="form.code" type="text" class="form-control"
                                        id="formrow-roomNumber-select" >
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="formrow-description-input">Mô tả</label>
                            <textarea ng-model="form.description" id="formrow-description-input" class="form-control"
                                rows="3" placeholder="Nhập mô tả"></textarea>
                        </div>
                        <div>
                            <button ng-click="create()"
                                class="btn btn-success waves-effect waves-light mb-2">Thêm</button>
                            <button ng-click="reset()" class="btn btn-danger waves-effect waves-light mb-2">Làm
                                mới</button>
                        </div>
                        <!-- Modal floor-->
                       
                        <!-- End modal floor -->

                        <!-- Modal create floor-->
                        <!-- End modal create floor -->

                        <!-- End modal bed -->
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------------ table --------------------- -->
    <div class="row" data-sidebar="dark" data-layout-mode="light">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom text-uppercase">DANH SÁCH SẢN PHẨM</h5>
                <div class="card-body">
                    <div>
                        <input type="search" class="form-control" placeholder="Tìm kiếm" id="search-datatable-rooms">
                    </div>

                    <!-- table content -->
                    <table id="datatable-rooms" class="table table-hover table-reponsive">
                        <thead class="table-light">
                            <tr>
                                <th>Id</th>
                                <th>Tên sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Trạng thái</th>
                                <th>Loại hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="room in rooms">
                                <td>{{room.code}}</td>
                                <td>{{room.floor.code}}</td>
                                <td>{{room.roomType.name}}</td>
                                <td>{{room.roomType.price | currency: '' : 0}} đ</td>
                                <td>{{room.description}}</td>
                                <td>{{room.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Model view bed room -->
                    <!-- End model bed room -->
                </div>
            </div>
        </div>
    </div>
</app-layout>