<app-layout name="">
    <div class="row">
      <div class="col-12">
          <div class="card">
              <h5 class="card-header bg-transparent border-bottom text-uppercase">
                  TẠO SẢN PHẨM
              </h5>
              <div class="card-body">
                  <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="username" class="form-label">Tên sản phẩm</label>
                                  <input ng-model="product.name" type="text" class="form-control" id="username">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="fullName" class="form-label">Giá</label>
                                  <input ng-model="product.price" type="text" class="form-control" id="fullName">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="password" class="form-label">Mô tả</label>
                                  <div class="input-group">
                                      <input ng-model="product.description" type="text" class="form-control" id="password">
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Số lượng</label>
                                <div class="input-group">
                                    <input ng-model="product.quantity" type="text" class="form-control" id="password">
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Đường dẫn ảnh</label>
                                <div class="input-group">
                                    <input ng-model="product.urlimage" type="text" class="form-control" id="password">
                                </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for="formrow-status-input">Trạng thái</label>
                            <div >
                                <input type="checkbox" id="formrow-status-input" switch="bool" ng-model="product.status" />
                                <label for="formrow-status-input" data-on-label="On" data-off-label="Off"></label>
                            </div>
                          </div>
                      </div>
                      <div>
                          <button ng-click="create()" class="btn btn-success w-md waves-effect waves-light">Tạo mới</button>
                          <button ng-click="update()" class="btn btn-warning w-md waves-effect waves-light">Cập nhật</button>
                      </div>
                  </form>
              </div>
              <!-- end card body -->
          </div>
          <!-- end card -->
      </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header bg-transparent border-bottom text-uppercase">
                    DANH SÁCH SẢN PHẨM
                </h5>
                <div class="card-body">
                  
                    <input class="form-control mb-3" type="search" placeholder="Tìm kiếm"
                    ng-model="searchTerm" id="search-datatable-accounts">
                    <table id="datatable-accounts" class="table table-bordered dt-responsive nowrap w-100">

                        <thead>
                            <tr>
                                <th>STT</th>
                                <th style="width: 100px;">Hình ảnh</th>
                                <th>Tên sản phẩm</th>
                                <th style="width: 125px;">Đơn giá</th>
                                <th>Số lượng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products | filter:searchTerm">
                                <td>{{$index + 1}}</td>
                                <td><img src="{{item.urlimage}}" alt="Product Image" width="50" style="max-height: 50px; object-fit: contain;"></td>
                                <td>{{item.name}}</td>
                                <td>$ {{item.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td><button class="btn btn-warning" ng-click="views(item)">View</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  </app-layout>
  